*{margin: 0; border: 0; border: 0;}

html{
scroll-behavior: smooth;
}


span{
    color:#A2D2FF;
}

/*------[header]-----*/

header{
    background-color:darkgray;
    background-image: url("imgs/viñedo2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 80px;
    
}

header figure img{
width: 200px;
height: 200px;

}

header nav{
    margin-bottom: 10px;
    margin-top: 10px;
    
}

header nav li{
    list-style: none;
    text-align: center;
    border-style: solid;
}

nav ul li{
    display: inline;
    padding: 5px;
    width: 190px;
    padding: 10px;
    

}

nav ul li a{
    background-color: cornflowerblue;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 5px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(13, 17, 23, 0.5);
    color: white;
    font-weight: bolder;


}
nav ul li a:hover{
    border-bottom: solid 5px red;
    color: red;
}
header h1{
    margin-top: 90px;
    font-family: 'Fugaz One', cursive;
    letter-spacing: 6px;
    color: black;
    font-size: 40px;
    margin-bottom: 100px;
    
}

/*------[Informacion]-----*/

#info{
    width: 1200px;
    margin: 0 auto;
    
}

#info h2{
    margin-right: 20px;
}


h2{
    font-family: 'Abel', sans-serif;
    letter-spacing: 8px;
    border-left: solid 8px red;
    padding: 10px;
    color: black;
    float: left;
    width: 350px; 
    
}

p{  
    color: black;
    float: left;
    font-family: 'Abel', sans-serif;
    width: 380px; 
    
}

h3{
    padding-left: 25px;
    float: left;
    color: black;
    font-family: 'Abel', sans-serif;
    margin-bottom: 5px;
    width: 380px; 


}

#info ol {
    float: left;
    color: black;
    font-family: 'Abel', sans-serif;
    width: 380px; 
    padding-right: 2px;
    
}

#info li{
    list-style-type: inherit;
}

/*------[Que hacer en las piedras]-----*/

#queHacer{
    clear: both;
    width: 1200px;
    margin: 0 auto;
    margin-top: 300px;
    
}

#queHacer h2{
  width: 1200px;
  margin-bottom: 20px;
}

#queHacer #plaza{
    float: left;
    width: 400px;
}


#queHacer #bodega{
    float: left;
    width: 400px;
}

#queHacer #parqueArtigas{
    float: left;
    width: 400px;
}

#queHacer article figure{
    position: relative;
}


#queHacer article figure img {
width: 380px;
    
}

#queHacer article p{
    width: 100%;
    color: black;
    float: left;
    font-family: 'Abel', sans-serif;
     
}

#queHacer h3{
width: 210px;
position: absolute;
bottom: 20px;
background-color: cornflowerblue;
color: black;

}

#queHacer article figure img:hover{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

/*-----[Ciudad en fotos]-----*/

#ciudad{
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1200px, repeat(3, 380px), 650px;
    grid-template-rows:  50px, 500px, repeat(3, 212px);
    grid-gap: 15px 15px;
    margin-bottom: 50px;
    
}

#ciudad img{
    width: 100%;
    height: 100%;  
}

#ciudad h2{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    

}

#torres{
    grid-column: 1 / 2;
    grid-row: 2 / 4 ;
   

}




#canyon{
    grid-column: 2 / 3 ;
    grid-row: 2/ 3;
  
}




#obelisco{
    grid-column: 3/4;
    grid-row: 2 / 3;
    
}




#cartel{
    grid-column: 2 / 4;
    grid-row: 3 / 4;

}





/*-----[Registrate y recibi novedades]-----*/

#registrate{
    width: 100%;
    background-color: cornflowerblue;
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
    
    
}

#registrate input{
    padding: 5px;
    border: solid 1px ;

    
}

#registrate label{
    font-size: 19px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 9px;
    
    
}

#registrate input[type="email"]{
    width: 330px;
}


/*-----[Top atracciones y famosos]-----*/

#topAndFamosos{
width: 1200px;
margin: 0 auto;
display: flex;


}

#topAtracciones{
   color: blue;
   width: 50%;
   margin-bottom: 50px;
   
    
}


table, th, td{
    border-collapse: collapse;
    font-family: 'Abel', sans-serif;
    margin-top: 80px;
    border: solid 5px white;
    background-color: cornflowerblue;
    padding: 20px 50px 20px 20px;
    text-align: left;

}

th{
    background-color: blue;
    color: white;
}

/*---FAMOSOS----*/



#famosos{
    position: relative;
    top: 100px;
    width: 50%;
    display: grid;
    grid-template-columns: 100px 300px ;
    grid-template-rows: repeat(6,40px);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    
}



#famosos h2{
    width: 378px;
    height: 30px;
    position: relative;
    bottom: 280px;


}

#famosos img{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-bottom: 100px;
    
}



#famosos p{
    position: relative;
    text-indent: 20px;
    bottom: 30px;
    left: 5px;

}

#famosos figure:nth-of-type(1){
grid-column: 1/2;
grid-row: 1/3;

}

#famosos figure:nth-of-type(2){
    grid-column: 1/2;
    grid-row: 3/4;
}

#famosos figure:nth-of-type(3){
    grid-column: 1/2;
    grid-row: 5/7;
}

#famosos h3:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 1/2;
}

#famosos h3:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 3/4;
}

#famosos h3:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 5/6;
}


#famosos p:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 2/3;
}


#famosos p:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 4/5;
}


#famosos p:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 6/7;
}


/*-----[Quiero viajar a la ciudad]-----*/

#quieroViajar{
background-color: cornflowerblue;
color: white;
font-family: 'Abel', sans-serif;
}

#quieroViajar form{
    margin:0 auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#quieroViajar form h2{
    border: 0px;
    width: 100%;
    text-align: center;
}

#quieroViajar form fieldset{
    text-align: left;
    margin: 0 auto;
    
}

#quieroViajar form fieldset label{
    font-size: 15px;
    padding: 6px;
    display: block;
    
}

#quieroViajar input{
    display: block;
    width: 300px;
    height: 40px;

}

#quieroViajar textarea {
    resize: none;
    display: block;
    width: 300px;
    height: 130px;
    margin-bottom: 5px;
}

#quieroViajar input[type="checkbox"]{
    display: inline-block;
    width: 15px;
    height: 15px;

}

#quieroViajar label:nth-last-of-type(1){
    display: inline-block;
    width: 110px;
    
    
    

}

#quieroViajar input[type="submit"]{
    display: inline-block;
    width: 150px;
    margin: 10px;
    
    
}

/*-----[Footer]-----*/

footer{
    background-color: lightseagreen;
    width: 100%;
    height: 128px;
    text-align: center;
}

footer ul{
    display: block;
    list-style-type: none;
    margin-right: 35px;
}



footer li{
    margin-top: 40px;
    display: inline-block;
    background-color: transparent;
    background-image: url("imgs/footer.png");
    width: 64px;
    height: 64px;
    margin-left: 10px;

}

footer li:nth-of-type(1){
    background-position: -128px 0;
}

footer li:nth-of-type(2){
    background-position: -320px 0;
}

footer li:nth-of-type(3){
    background-position: 0 0;
}

footer li:nth-of-type(1):hover{
    background-position: -192px 0;
}

footer li:nth-of-type(2):hover{
    background-position: -256px 0; 
}

footer li:nth-of-type(3):hover{
    background-position: -64px 0;
}



footer a{
    position: fixed;
    padding: 50px;
    right: 20px;
    bottom: 20px;

}

    